node_modules
.output
.nuxt
.nitro
.data
.cache
dist
.git
.gitignore
.dockerignore
Dockerfile*
docker-compose*

infra
docs
app.yaml
.gcloudignore
deploy.sh
migrate-prod.sh
cloud-sql-proxy
credentials

.env
.env.*
!.env.example

.vscode
.idea
.fleet
.DS_Store
coverage
test
README.md
